PORT=3000
GEMINI_API_KEY=sua_chave_do_gemini_aqui
GOOGLE_APPLICATION_CREDENTIALS=caminho_para_o_arquivo_json_de_credenciais_google.json
UPLOADS_DIR=uploads
DATABASE_PATH=coleta.db
# Para o ambiente local, o IP Fixo do servidor pode ser configurado no Roteador/OS
# Esta variável ajuda a exibir o link correto para o smartphone
SERVER_IP=192.168.1.100
